.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 0 10px 0;
}

.title {
    font-weight: 600;
}

.counter {
    display: flex;
    align-items: center;
    column-gap: 5px;
}